@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'KimjungchulGothic-Bold';
}

.hidden {
    display: none;   
}

body h1 {
    font-size: 84px;
}

body {
    vertical-align: middle;
    text-align: center;
}

#timer {
    font-size: 76px;
}

#resetBtn {
    font-size: 28px;
    border: 0;
    color: red;
}

