@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'KimjungchulGothic-Bold';
}

.hidden {
    display: none; 
}

body h1 {
    font-size: 84px;
}

body {
    vertical-align: middle;
    text-align: center;
}

#timer {
    font-size: 76px;
}

#resetBtn {
    font-size: 28px;
    border: 0;
    background-color: rgb(255, 174, 174);
    color: red;
}

#border {
    border: 2px solid black;
}

#timerdiv {
    margin: auto;
    padding-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 800px;
} 
#tspan {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}
#tspan span{
    font-size: 20px;
    padding-left: 42px;
    padding-right: 42px;
}

#maindiv {
    padding: 20px;
}

#maindiv span{
    display: block;
}

@media (max-width: 414px)
{
    #timerdiv {
        margin: auto;
        padding-bottom: 20px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        width: 95%;
    }

    #tspan span{
        font-size: 20px;
        padding-left: 29px;
        padding-right: 29px;
    }

    body h1 {
        font-size: 40px;
    }
    #timer {
        font-size: 56px;
    }

}